*{box-sizing: border-box;}

body
{
	margin: 300px;
	margin-top: 0px;
	margin-bottom: 0px;
	background: linear-gradient(to bottom, #ffff00, #00ffff);
	color: #000;
	font: 400 1em/1.5 "M PLUS 1";
}

.col-2
{
	grid-template-columns: auto auto;
	grid-template-rows: 0.5fr 0.5fr;
	grid-template-areas:
		"h1, verkefni"
		"h1, topnav"
}
header h1
{
	grid-area: h1;
	text-align: bottom;
}
.verkefni
{
	grid-area: verkefni;
	top: 0;
	right: 1em;
	text-align: right;
}
.topnav
{
	grid-area: topnav;
	text-align: right;
	text-align: bottom;
}

.container
{
	display: grid;
}

.main
{
	background: linear-gradient(to bottom, #ff2222, #99ff00)
}

.col-3
{
	grid-template-columns: 1.55fr 1.2fr 1.0fr;
	grid-template-rows: 1fr;
	grid-template-areas:
		"dl ul1 ul2";
}

footer dl
{
	grid-area: dl;
}
footer ul
{
	grid-area: ul1;
}
footer ul
{
	grid-area: ul2;
}

.copy
{
	text-align: center;
}