*
{
	box-sizing: border-box;
}

body
{	
	padding-left: 15%;
	padding-right: 15%;
}

header
{
	
}

.col-2
{
	border-style: solid;
	border-width: 1px;
	
	display: grid;
	grid-template-columns: auto auto;
	padding: 10px;
}

.col-2 > div 
{
	padding: 20px;
}

.col-3
{
	border-style: solid;
	border-width: 1px;
	
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 10px;
}
.col-3 > div 
{
	padding: 20px;
}

.col-4
{
	border-style: solid;
	border-width: 1px;
	
	display: grid;
	grid-template-columns: auto auto auto auto;
	padding: 10px;
}
.col-4 > div 
{
	padding: 20px;
}